$background-color = #242424
$foreground-color = #dddddd

body
  background-color $background-color
  color $foreground-color
  font-family Helvetica, sans-serif

input
  background-color $background-color
  color $foreground-color
  border 0
  border-bottom 1px solid $foreground-color
